canvas {
	position:absolute;
	top:0;left:0;
	z-index:0;
	width:100%;
	height:100%;
}

body {
	font-family: Helvetica, Arial, sans-serif;
}

h1 {
	font-size: 24px;
	color: #831999;
	padding: 0px;
}

#image-loader {
	
	position: absolute;
	left: 50%;
	top: 50%;
 }

#gallery {
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	position:absolute;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	display:none;
	z-index:1;
}

#info {
	overflow:hidden;
	position:absolute;
	bottom: 0px;
	right:20px;
	z-index:2;
	font:10pt Arial;
	height: 0px;
	width: 200px;
	background:white;
	opacity:0.7;
	border-radius: 15px 15px 0px 0px;
	padding:0px 0px 5px 30px;
	cursor:pointer;
}



#artshow {
	width: 100%;
	height: 95%;
	overflow: hidden;
	overflow-x: auto;
	position:absolute;
	top:0px;
	left:0px;
	z-index:3;
}


#artholder {
	padding: 4rem 0;
    background: #f4f4f4;
}
/* ----------------------from here---------------------- */

.slide-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow-x: auto;
    direction: ltr;
}

section .thumbnail img {
    width: 300px;
    height: 400px;
    object-fit: contain;
}

section::-webkit-scrollbar {
    background: #d5d5d5;
    border: 1px solid #d5d5d5;
    height: 5px;
    width: 2px;
}

section::-webkit-scrollbar-track {
    --webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section::-webkit-scrollbar-thumb {
    background: crimson;
}

section .thumbnail {
    flex: 0 0 auto;
    margin: 5px;
    cursor: pointer;
    object-fit: cover;
    border: 1px solid #666;
    overflow: hidden;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

section .thumbnail:hover {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

section .thumbnail .product-details {
    text-align: center;
    padding-bottom: 2rem;
}

section .thumbnail .product-details h2 {
    font-size: 2.2rem;
    font-weight: 600;
}

section .thumbnail .product-details p {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    color: rgb(213, 51, 213);
    font-weight: 700;
    padding-top: 0.5rem;
}

section .thumbnail .product-details p span {
    text-decoration: line-through;
    color: #c00;
    margin-right: 5px;
}

section .thumbnail .product-details a {
    font-size: 1.6rem;
    text-decoration: none;
    background: rgb(220, 93, 20);
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

section .thumbnail .product-details a:hover {
    background: crimson;
}

.arrow svg {
    color: #000;
    width: 60px;
    height: 60px;
    font-size: 30px;
    cursor: pointer;
}

/* -------------------------------------to here ---------------------------------------*/



#buttonholder {
	width: 800px;
	height: 30px;
	padding:15px;
	//background-color: #f8fbed;
	position: absolute;
	left: 20px;
	top: 92%;
}

.pxbutn {
	padding: 8px;
	background-color: #bFbFbF;
	color: white;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 1.1em;
	box-shadow: 2px 2px 5px #c888a8;
	cursor: pointer;
}

#backbb {
	width: 73px;
	margin-top:0px;
	height:20px;
	cursor: e-resize;
	display: none;
}

.pxbutn:hover{
	background-color: #8Fdcdc;
}

.pxbutn2 {
	padding: 5px;
	background-color: #bFbFbF;
	color: black;
	float: right;
	margin-left: 10px;
	margin-top: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	font-size: 0.75em;
	box-shadow: 1px 1px 4px #f080b0;
	cursor: pointer;
}

.pxbutn2:hover {
	background-color: #8Fdcdc;
}
iframe{
		width:100%;
		height:95%;
		top:0px;
		left:0px;
		margin: 0;
		position:inherit;
		z-index: 6;
}

.suzybox{
	width: 50%;
	height: 100%;
	display: table-cell;
	overflow: hidden;
	float:left;
	z-index:4;
}

img.suz {
	height: 100%;
	float:left;
	padding-left:100px;
	padding-top:0px;
	margin: 0px;
	z-index: 6;
}

#over{
	width:100%;
	height:80%;
	z-index:10;
	cursor:move;
	display:inline;
	position:absolute;
	left:0px;
	top:0px;
}

#namebadge{
	position:absolute;
	font-size: 60px;
	font-style: italic;
	font-family: Helvetica,Arial,sans-serif;
	bottom:0px;
	height:0%;
	width: 100%;
	text-align:right;
	padding-right:20px;
	right:10%;
	color:#c431d8;
	z-index:11;
	overflow:hidden;
}

#hidden {
	position:absolute;
	top:0;left:0;
	z-index:-3;
	width:100%;
	height:100%;
	overflow:hidden;
	display:none;
}

#hidden img {
	float: left;
}
#loader {
	position:absolute;
	top:0;left:0;
	z-index:-2;
	width:100%;
	height:100%;
	overflow:hidden;
}



#pavilion-info{
	display:none;
	width:60%;
	position:absolute;
	z-index:12;
	right: 100px;
	bottom: 250px;	
	background: rgb(236, 245, 248);
	padding:20px;
	border-radius:10px;
	box-shadow: -5px 5px 20px grey;
	opacity:60%
}
#pavilion-info a {
	text-decoration:none;
	color:black;
}
#pavilion-info h1 {
	font-style: italic;
	font-size: 40px;
	line-height: 0px;
	color: rgb(99, 115, 116);
}
#pavilion-info h2 {
	font-size: 18px;
	line-height: 0px;
	margin-left: 2px;
	color: rgb(129, 139, 139);
	font-weight: lighter;
}
#pavilion-info img {
	float:right;
}

#artistlist li{
	list-style-type: none;
	line-height:20px;
	-webkit-transition: -webkit-transform 0.1s;
	-moz-transition: -moz-transform 0.1s;
}
#artistlist li a:hover{
	background:rgb(191, 30, 209);
	-webkit-transform: scaleX(2.05) scaleY(2.05);
	-moz-transform: scaleX(2.1) scaleY(2.1);
	box-shadow: 2px 2px 2px rgb(234, 26, 210);
}

